###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
*.manifest binary
*.application binary
*.deploy binary
*  -text